.page {
	$self: &;
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-gap: 20px;
	
	@include media('<=md') {
		grid-template-columns: 2fr 1fr;
	}
	
	@include media('<=xs') {
		display: block;
	}

	&__content {

	}

	&__side {
		@include media('<=xs') {
			display: grid;
			grid-template-columns: repeat(2, 1fr );
			grid-gap: 20px;
		}

		@include media('<=xxxs') {
			grid-template-columns: 1fr;
		}
	}
}
