.sidebar {
	$self: &;

	&__poster {
		display: block;
		overflow: hidden;
		border-radius: 10px;
		margin-bottom: 20px;

		> img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__block {

	}

	&__block-title {

	}

	&__block-item {

	}

	&__block-brief {

	}

	&__block-image {

	}

}
