<footer class="footer"> 
	<div class="wrapper">
		<div class="footer__top">
			<nav class="footer__menu">
				<a class="footer__menu-link" href="./">О проекте</a>
				<a class="footer__menu-link" href="./">Реклама</a>
				<a class="footer__menu-link" href="./">Контакты</a>
				<a class="footer__menu-link" href="./">Правила обработки персональных данных</a>
				<a class="footer__menu-link" href="./">Использование куки</a>
			</nav>
			<div class="footer__socials">
				<a class="footer__socials-item footer__socials-item_yout" href="./"></a>
				<a class="footer__socials-item footer__socials-item_vk" href="./"></a>
				<a class="footer__socials-item footer__socials-item_tgm" href="./"></a>
				<a class="footer__socials-item footer__socials-item_tw" href="./"></a>
			</div>
		</div>
		<div class="footer__copy">2021 &copy; Министерство культуры Забайкальского края</div>
	</div>
</footer> 
<script type="text/javascript" charset="utf-8" src="jquery.min.js"></script>
<script src="common.js"></script> 
</body> 
</html> 
