<header class="header"> 
	<div class="header__slider">
		<div class="header__slider-item"><img src="./images/stuff/header__slide.png" alt=""></div>
		<div class="header__slider-item"><img src="./images/stuff/header__slide.png" alt=""></div>
	</div>
	<div class="header__bottom">
		<div class="header__inner wrapper">
			<span class="header__menu-open"></span>
			<a class="header__logo" href="./"><img src="./images/logo.png" alt=""></a>
			<div class="header__side">
				<nav class="header__navi" data-scroll-lock-scrollable>
					<span class="header__menu-close"></span>
					<ul class="header__menu-1 menu-1">
						<li class="menu-1__item"><a href="./institution.html">Учреждения культуры</a></li>
						<li class="menu-1__item"><a href="./article.html">Кружки</a></li>
						<li class="menu-1__item"><a href="./catalog.html">Каталог народного творчества</a></li>
						<li class="menu-1__item"><a href="./objects.html">Галерея объектов культуры</a></li>
					</ul>
					<ul class="header__menu-2 menu-2">
						<li class="menu-2__item"><a href="./page.html">Афиша</a></li>
						<li class="menu-2__item"><a href="./news.html">Новости</a></li>
						<li class="menu-2__item"><a href="./articles.html">Статьи</a></li>
						<li class="menu-2__item"><a href="./feed.html">Медиа</a></li>
						<li class="menu-2__item"><a href="./details.html">Голосование</a></li>
						<li class="menu-2__item"><a href="./advs.html">Объявления</a></li>
						<li class="menu-2__item menu-2__item_haschild">
							<input type="checkbox">
							<ul class="menu-2__submenu">
								<li class="menu-2__subitem"><a href="./">О министерстве</a></li>
								<li class="menu-2__subitem"><a href="./search.html">О проекте</a></li>
								<li class="menu-2__subitem"><a href="./contacts.html">Контакты</a></li>
								<li class="menu-2__subitem"><a href="./">Культура</a></li>
							</ul>
						</li>
					</ul>
				</nav>
				<input class="header__search" type="checkbox">
				<div class="header__search-form search">
					<form class="search__form" action="./">
						<input class="search__query" type="text" placeholder="Поиск">
						<input class="search__submit" type="submit" value="">
					</form>
				</div>
			</div>
		</div>
	</div>
</header>