<header class="header"> 
		<div class="header__slider owl-carousel">
			<div class="header__slider-item"><img src="./images/stuff/header__slide.png" alt=""></div>
			<div class="header__slider-item"><img src="./images/stuff/header__slide.png" alt=""></div>
		</div>
		<div class="header__bottom">
			<div class="header__inner wrapper">
				<span class="header__menu-open"></span>
				<a class="header__logo" href=""><img src="./images/logo.png" alt=""></a>
				<div class="header__side">
					<nav class="header__navi">
						<span class="header__menu-close"></span>
						<ul class="header__menu-1 menu-1">
							<li class="menu-1__item"><a href="./">Учреждения культуры</a></li>
							<li class="menu-1__item"><a href="./">Кружки</a></li>
							<li class="menu-1__item"><a href="./">Каталог народного творчества</a></li>
							<li class="menu-1__item"><a href="./">Галерея объектов культуры</a></li>
						</ul>
						<ul class="header__menu-2 menu-2">
							<li class="menu-2__item"><a href="./">Афиша</a></li>
							<li class="menu-2__item"><a href="./">Новости</a></li>
							<li class="menu-2__item"><a href="./">Статьи</a></li>
							<li class="menu-2__item"><a href="./">Медиа</a></li>
							<li class="menu-2__item"><a href="./">Голосование</a></li>
							<li class="menu-2__item"><a href="./">Объявления</a></li>
							<li class="menu-2__item menu-2__item_haschild">
								<input type="checkbox">
								<ul class="menu-2__submenu">
									<li class="menu-2__subitem"><a href="./">О министерстве</a></li>
									<li class="menu-2__subitem"><a href="./">О проекте</a></li>
									<li class="menu-2__subitem"><a href="./">Контакты</a></li>
									<li class="menu-2__subitem"><a href="./">Культура</a></li>
								</ul>
							</li>
						</ul>
					</nav>
					<a class="header__search" href="./"></a>
				</div>
			</div>
		</div>
</header>