<header class="header"> 
	<div class="wrapper">
		<div class="header__slider">
			<div class="header__slider-items owl-carousel">
				<div class="header__slider-item"><img src="./images/stuff/header__slide.png" alt=""></div>
				<div class="header__slider-item"><img src="./images/stuff/header__slide.png" alt=""></div>
			</div>
		</div>
		<div class="header__bottom">
			<div class="header__inner container">
				<span class="header__toggle"></span>
				<a class="header__logo" href=""><img src="" alt=""></a>
				<div class="header__side">
					<nav class="header__navi">
						<ul class="header__menu-1">
							<li><a href="./">Учреждения культуры</a></li>
							<li><a href="./">Кружки</a></li>
							<li><a href="./">Каталог народного творчества</a></li>
							<li><a href="./">Галерея объектов культуры</a></li>
						</ul>
						<ul class="header__menu-2 menu-2">
							<li class="menu-2__item"><a href="./">Афиша</a></li>
							<li class="menu-2__item"><a href="./">Новости</a></li>
							<li class="menu-2__item"><a href="./">Статьи</a></li>
							<li class="menu-2__item"><a href="./">Медиа</a></li>
							<li class="menu-2__item"><a href="./">Голосование</a></li>
							<li class="menu-2__item"><a href="./">Объявления</a></li>
							<li class="menu-2__item menu-2__item_haschild">
								<span></span>
								<ul class="menu-2__submenu">
									<li class="menu-2__subitem"><a href="./">О министерстве</a></li>
									<li class="menu-2__subitem"><a href="./">О проекте</a></li>
									<li class="menu-2__subitem"><a href="./">Контакты</a></li>
									<li class="menu-2__subitem"><a href="./">Культура</a></li>
								</ul>
							</li>
						</ul>
					</nav>
					<a class="header__search" href=""></a>
				</div>
			</div>
		</div>
	</div>
</header> 
