.menu-1 {
	$self: &;
	display: flex;
	justify-content: space-between;
	background-color: #d3c2e0;
	font-family: "BB", sans-serif;
	font-size: 26px;
	line-height: 1.1;
	
	@include media('<=xlg') {
		font-size: 24px;
	}
	
	@include media('<=lg') {
		font-size: 20px;
	}
	
	@include media('<=md') {
		display: block;
		background: none;
	}

	&::after {
		display: block;
		content: '';
		width: 50px;
		background: linear-gradient(90deg, #d3c2e0 0%, #fff 50%);
	}
	
	&__item {
		color: #fff;
		white-space: nowrap;
		padding: 5px 0 3px;
		margin: 0 10px;
		
		@include media('<=md') {
			font-family: "BR", sans-serif;
			font-size: 22px;
			line-height: 1.3;
			color: #000;
			margin: 0;
			padding: 5px 0;
			margin-bottom: 0;
			white-space: normal;
		}

		a {
			display: block;
			color: inherit;
			text-decoration: none;
			transition: color 0.4s ease;

			&:hover {
				color: #a059cf;
			}
		}
	}
}
