.gallery {
	$self: &;

	&__title {
		margin-bottom: 40px;
	}

	&__items {
		box-sizing: border-box;
		margin: 0 -10px 10px;
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		box-sizing: border-box;
		position: relative;
		overflow: hidden;
		margin: 0 10px 30px;
		width: calc(100% / 4 - 20px);
		
		@include media('<=md') {
			width: calc(100% / 3 - 20px);
		}
		
		@include media('<=xs') {
			width: calc(100% / 2 - 20px);
		}
		
		@include media('<=xxs') {
			width: calc(100% / 1 - 20px);
		}
	}

	&__image {
		display: block;
		overflow: hidden;
		border-radius: 10px;
		margin-bottom: 20px;

		> img {
			display: block;
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}

	&__text {
		text-align: center;
	}
}
