.menu-4 {
	$self: &;
	font-family: "BR", sans-serif;
    font-size: 22px;
	line-height: 1.2;

	&__wrapper {
		border-bottom: 1px solid #c5c5c5;

		&:hover #{$self}__hidden {
			display: block;
		}
	}

	&__cap {
		cursor: pointer;
		display: flex;
		align-items: center;
		padding: 10px;
		position: relative;
		z-index: 3;

		&::after {
			content: '';
			display: block;
			background: url(images/icons-sprite.svg#icon-arr_down-view-dark) center/11px 6px no-repeat transparent;
			width: 12px;
			height: 8px;
			padding-left: 20px;
			margin-left: auto;
		}
	}

	&__hidden {
		box-sizing: border-box;
		display: none;
		position: absolute;
		width: calc(100% + 10px);
		background-color: #fff;
		top: -10px;
		left: -10px;
		z-index: 2;
		padding: 19px 30px 20px 160px;
		border: 1px solid #e2e2e2;
		border-radius: 10px;
		box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.1);
		@keyframes submenu_fade {
			0% {opacity: 0;}
			100% {opacity: 1;}
		}
		animation: submenu_fade 0.4s ease;
		
		@include media('<=xxs') {
			padding: 60px 20px 20px 40px;
		}
	}

	&__link {
		display: inline-block;
		text-decoration: none;
		color: inherit;
		margin: 0 10px 20px;
		transition: color 0.4s ease;

		&:hover {
			color: #a059cf;
		}

		@include media('<=xs') {
			display: block;
		}
	}
}