.menu-3 {
	$self: &;
	font-family: "BR", sans-serif;
	font-size: 22px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	// border-bottom: 1px solid #c5c5c5;
	
	@include media('<=xxs') {
		font-size: 19px;
	}
	
	@include media('<=xs') {
		flex-wrap: nowrap;
		justify-content: flex-start !important;
		overflow: auto;
		padding-bottom: 2px;
	}

	&_dark {

		#{$self}__item {
			color: #fff;
			
			&:hover, &.active {
				color: #fff;
				border-bottom: 2px solid #a059cf !important;
			}
		}
	}
	
	&__item {
		border-bottom: 1px solid #c5c5c5 !important;
		box-sizing: border-box;
		height: 100%;
		transition: border-color 0.4s ease;

		> a {
			box-sizing: border-box;
			line-height: 1.2;
			display: block;
			color: inherit;
			text-decoration: none;
			padding: 10px;
			white-space: nowrap;
			transition: color 0.4s ease;
		}

		&:hover, &.active {
			color: #a059cf;
			border-bottom: 2px solid #000 !important;
			margin-bottom: -1px;
		}
	}
}