.menu-3 {
	$self: &;
	font-family: "BR", sans-serif;
	font-size: 22px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	// border-bottom: 1px solid #c5c5c5;
	
	@include media('<=xxs') {
		font-size: 19px;
	}
	
	@include media('<=xxxs') {
		font-size: 18px;
	}
	
	&__item {
		border-bottom: 1px solid #c5c5c5 !important;
		box-sizing: border-box;
		height: 100%;
		transition: border-color 0.4s ease;

		> a {
			box-sizing: border-box;
			line-height: 1.2;
			display: block;
			color: inherit;
			text-decoration: none;
			padding: 10px;
			white-space: pre-wrap;
		}

		&:hover, &.active {
			border-bottom: 2px solid #000 !important;
			margin-bottom: -1px;
		}
	}
}