.title {
	$self: &;
	color: #4f4f4f;
	font-family: "MR", sans-serif;
	font-size: 34px;
	line-height: 1.2em;

	&::after {
		display: inline-block;
		content: '';
		width: 20px;
		height: 20px;
		margin-left: 5px;
		background: url('#{$images-path}icons-sprite.svg#icon-arr_right-view-dark') center bottom/ 10px 15px no-repeat transparent;
	}
}
