.socials {
	$self: &;
	display: flex;
	
	@include media('<=xs') {
		flex-wrap: wrap;
	}

	&_feed {

		#{$self}__item {
			background-color: #a7abaf;
		}
	}

	&__item {
		display: block;
		width: 40px;
		height: 40px;
		background-color: #787c80;
		border-radius: 50%;
		transition: background-color 0.3s ease;
		flex-shrink: 0;
	
		&:hover {
			background-color: #c3aed3;
		}
				
		&:not(:last-child) {
			margin: 0 10px 10px 0;
		}

		&_viber { background: url('#{$images-path}icons-sprite.svg#icon-viber-view-white') center / 24px 25px no-repeat #787c80; }
		&_wapp { background: url('#{$images-path}icons-sprite.svg#icon-wapp-view-white') center / 23px 25px no-repeat #787c80; }
		&_yout { background: url('#{$images-path}icons-sprite.svg#icon-yout-view-white') center / 26px 18px no-repeat #787c80; }
		&_vk { background: url('#{$images-path}icons-sprite.svg#icon-vk-view-white') center / 23px 13px no-repeat #787c80; }
		&_ok { background: url('#{$images-path}icons-sprite.svg#icon-ok-view-white') center / 12px 22px no-repeat #787c80; }
		&_fb { background: url('#{$images-path}icons-sprite.svg#icon-fb-view-white') center / 12px 22px no-repeat #787c80; }
		&_tgm { background: url('#{$images-path}icons-sprite.svg#icon-tgm-view-white') center / 30px 22px no-repeat #787c80; }
		&_inst { background: url('#{$images-path}icons-sprite.svg#icon-inst-view-white') center / 22px 22px no-repeat #787c80; }
		&_tw { background: url('#{$images-path}icons-sprite.svg#icon-tw-view-white') center / 28px 20px no-repeat #787c80; }
	}
}
