.footer {
	$self: &;
	background-color: #f8f8f8;
	padding: 30px 0 40px;

	&__top {
		border-bottom: 1px solid #ccc;
		padding-bottom: 30px;
		display: flex;
		align-items: center;

		@include media('<=xs') {
			flex-wrap: wrap;
		}
	}

	&__menu {
		display: flex;
		flex-wrap: wrap;
		padding-right: 20px;

		@include media('<=xs') {
			margin-bottom: 20px;
		}
	}

	&__menu-link {
		text-decoration: none;
		color: #646464;
		padding: 5px 0;
		transition: color 0.4s ease;
		
		&:not(:last-child) {
			margin-right: 20px;
		}
		
		&:hover {
			color: #a059cf;
			text-decoration: underline;
		}
	}

	&__socials {
		margin-left: auto;
		display: flex;

		@include media('<=xs') {
			margin: 0;
		}
	}

	&__socials-item {
		display: block;
		width: 50px;
		height: 50px;
		background-color: #787c80;
		border-radius: 50%;
		transition: background-color 0.3s ease;
		
		&:hover {
			background-color: #c3aed3;
		}
		
		&:not(:last-child) {
			margin-right: 15px;
		}

		&_yout {
			background: url('#{$images-path}icons-sprite.svg#icon-yout-view-white') center / 30px 22px no-repeat #787c80;
		}

		&_vk {
			background: url('#{$images-path}icons-sprite.svg#icon-vk-view-white') center / 28px 17px no-repeat #787c80;
		}

		&_ok {
			background: url('#{$images-path}icons-sprite.svg#icon-ok-view-white') center / 16px 26px no-repeat #787c80;
		}

		&_fb {
			background: url('#{$images-path}icons-sprite.svg#icon-fb-view-white') center / 14px 28px no-repeat #787c80;
		}

		&_tgm {
			background: url('#{$images-path}icons-sprite.svg#icon-tgm-view-white') center / 30px 22px no-repeat #787c80;
		}

		&_inst {
			background: url('#{$images-path}icons-sprite.svg#icon-inst-view-white') center / 28px 28px no-repeat #787c80;
		}

		&_tw {
			background: url('#{$images-path}icons-sprite.svg#icon-tw-view-white') center / 28px 20px no-repeat #787c80;
		}
	}

	&__copy {
		padding-top: 40px;
		color: #646464;
	}
}