.also {
	$self: &;

	&_no-sidebar {

		#{$self}__items {
			margin: 0 -15px;
			
			@include media('<=xs') {
				margin: 0 -10px;
			}
		}	

		#{$self}__item {
			margin: 0 15px 30px;
			width: calc(100% / 3 - 30px);
			
			@include media('<=sm') {
				width: calc(100% / 2 - 30px);
			}
			
			@include media('<=xs') {
				margin: 0 10px 30px;
				width: calc(100% / 2 - 20px);
			}
			
			@include media('<=xxs') {
				width: calc(100% - 20px);
			}
		}	
	}

	&__title {
		font-size: 28px;
		line-height: 1.3;
		margin-bottom: 30px;
	}

	&__items {
		margin: 0 -10px;
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		margin: 0 10px 30px;
		width: calc(100% / 3 - 20px);
		
		@include media('<=md') {
			width: calc(100% / 2 - 20px);
		}
		
		@include media('<=xxxs') {
			width: calc(100% - 20px);
		}
	}
}
