.contacts {
	$self: &;
	margin-bottom: 40px;

	&__inner {
		max-width: 1000px !important;
	}

	&__top-title {
		text-align: left !important;
		margin-bottom: 30px;
	}

	&__title {
		font-size: 30px;
		line-height: 1.1;
		font-family: "MB", sans-serif;
		margin-bottom: 40px;
	}

	&__block {
		display: flex;
		margin-bottom: 40px;
		
		&_border {
			padding-bottom: 20px;
			border-bottom: 1px solid #bebebe;
		}

		@include media('<=xs') {
			flex-wrap: wrap;
		}
	}
	
	&__block-name {
		margin-right: auto;
		font-size: 26px;
		line-height: 1.3;

		@include media('<=xs') {
			margin-bottom: 15px;
		}
	}
	
	&__block-values {
		font-size: 22px;
		min-width: 200px;


		a {
			color: inherit;
			display: block;
			text-decoration: none;
			margin-bottom: 10px;
			transition: color 0.3s ease;

			&:hover {
				color: #a059cf;
			}
		}
	}

	&__hidden {
		display: none;
	}

	&__form {
		box-sizing: border-box;
		padding: 30px;
	}

	&__form-title {
		margin-bottom: 20px;
	}

	&__form-field {
		@extend %reset-input;
		display: block;
		width: 100%;
		padding: 30px 0 10px;
		font-size: 20px;
		border-bottom: 1px solid #bebebe;
	}
	
	&__form-area {
		@extend %reset-input;
		min-height: 0%;
		display: block;
		width: 100%;
		padding: 30px 0 10px;
		font-size: 20px;
		border-bottom: 1px solid #bebebe;
		resize: none;
		margin-bottom: 30px;
	}
	
	&__form-submit {
		@extend %reset-button;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 15px 0;
		background-color: #ab8ac4;
		border-radius: 10px;
		color: #fff;
		font-size: 18px;
		margin: auto auto 40px;
		width: 100%;
		max-width: 600px;
		transition: background-color 0.3s ease;
	
		&:hover {
			background-color: #c3aed3;
		}
	}

	&__form-agree {
		font-size: 20px;
		
		a {
			display: block;
			text-decoration: none;

			&:hover { text-decoration: underline; }
		}
	}
}
