.p-articles {
	$self: &;

	&__items {
		margin: 0 -10px 40px;
		display: flex;
		flex-wrap: wrap;
	}
	
	&__item {
		margin: 0 10px 30px;
		width: calc(100% / 2 - 20px);
		
		@include media('<=xxxs') {
			width: calc(100% - 20px);
		}
	}
}