.p-head {
	$self: &;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 30px;

	&__title {
		margin-right: 40px;
	}

	&__filter {
		display: flex;

		.select__wrapper {
			font-family: "BR", sans-serif;
			font-size: 22px;
			border-bottom: 1px solid #c5c5c5;

			@include media('<=xs') {
				margin-bottom: 2px;
			}

			@include media('<=xxs') {
				font-size: 19px;
			}
		}

		&_dark {
			.select__head {
				color: #fff;

				&::after {
					background-image: url('#{$images-path}icons-sprite.svg#icon-arr_down-view-white');
				}
				
				&_open {
					color: #6a6a6a;

					&::after {
						background-image: url('#{$images-path}icons-sprite.svg#icon-arr_up-view-dark');
					}
				}
			}
		}
	}
}
