.feed {
	$self: &;

	&__inner {

	}

	&__item {
		margin-bottom: 40px;
	}

	&__top {
		display: flex;
		margin-bottom: 15px;
		justify-content: space-between;
		align-items: center;
	}

	&__cat {

	}

	&__close {
		display: block;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		background: url('#{$images-path}icons-sprite.svg#icon-close-view-dark') center / 30px 30px no-repeat #ececec;
		transition: background-color 0.3s ease;

		&:hover {
			background-color: #e6deec;
		}
	}

	&__title {
		font-size: 30px;
		line-height: 1.1;
		font-family: "MB", sans-serif;
		margin-bottom: 40px;
	}

	&__body {
		display: grid;
		grid-template-columns: 3fr 1fr;
		grid-gap: 20px;
		
		@include media('<=md') {
			grid-template-columns: 2fr 1fr;
		}
		
		@include media('<=xs') {
			display: block;
		}
	}

	&__article {

	}

	&__side {
		@include media('<=xs') {
			display: none;
			// display: grid;
			grid-template-columns: repeat(2, 1fr );
			grid-gap: 20px;
		}

		@include media('<=xxxs') {
			grid-template-columns: 1fr;
		}
	}

	&__intro {
		font-size: 22px;
		line-height: 1.3;
		margin-bottom: 20px;
	}

	&__panel {
		border-top: 1px solid #bebebe;
		height: 40px;
		display: flex;
		align-items: center;
		margin-bottom: 20px;
		font-size: 14px;
		line-height: 1.3;
		color: #8d8d8d;
	}

	&__panel-date {
		margin-right: 10px;
	}
	
	&__panel-tag {
		margin-right: 10px;
	}

	&__panel-views {
		margin-left: auto;
		padding-right: 25px;
		background: url('#{$images-path}icons-sprite.svg#icon-eye-view-dark') center right / 18px 12px no-repeat transparent;
	}

	&__content {
		font-size: 20px;
		line-height: 1.3;
		margin-bottom: 40px;
	}

	&__image {
		width: 100%;
		height: 500px;
		overflow: hidden;
		border-radius: 10px;
		margin-bottom: 40px;

		> img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__links {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 25px;
	}

	&__link {
		color: #a059cf;
		font-size: 18px;
		line-height: 1.2;
		text-decoration: none;
		padding: 8px 12px;
		border: 1px solid #bebebe;
		border-radius: 8px;
		margin: 0 30px 15px 0;
		transition: color 0.3s ease;

		&:hover {
			color: #000;
		}
	}

	&__socials {
		margin-bottom: 40px;
	}

	&__also {

	}
}
